
<h1> <%= @jobs.count %> Jobs Found! </h1>
<h2>Click the Company name for more info</h2>
<h2>Click Apply Here to visit the job page</h2>

  <ul class="job-list">
    <% @jobs.each_with_index do |job, index| %>
      <li>
        <% if @site != 'flexjobs' %> 
          <h2><a href ="/<%= @site %>/<%= job[:company].slugify %>"><%= index + 1 %>. <%= job[:company] %></a></h2>
          <h3><%= job[:position] %></h3>
        <% else %> 
          <h2><a href ="/<%= @site %>/<%= job[:position].slugify %>"><%= index + 1 %>. <%= job[:position] %></a></h2>
        <% end %>
        <h3><%= job[:location] %></h3>
        <% if job[:seniority] %>
          <h3><%= job[:seniority] %></h3>
        <% end %>
        <h3><a href="<%= job[:job_url] %>" class="href" target="_blank">Apply Here</a></h3>
      </li>
      <br>
    <% end %>
  </ul>