<% if @current_job[:company] %>
  <% if @in_my_jobs %>
    <h4><a href="/myjobs/<%= @current_job.id %>/delete">Remove from My Jobs</h4>
  <% end %>
  <h1>Company</h1>
    <h2><a href="<%= @current_job[:company_site] %>" target="_blank"><%= @current_job[:company] %></a></h2>
  <h1>Position</h1>
    <h2><%= @current_job[:position] %></h2>
<% else %>
  <h1>Position</h1>
    <h2><a href="<%= @current_job[:job_url] %>" target="_blank"><%= @current_job[:position] %></a></h2>
<% end %>
<h1>Location</h1>
  <h2><%= @current_job[:location] %></h2>

<% if @current_job[:seniority] %>
  <h1>Seniority</h1>
    <h2><%= @current_job[:seniority] %></h2>
<% end %>

<h1>Description</h1>
  <h4>
    <p><%= @current_job[:description] %></p>
  </h4>

<h1><a href="<%= @current_job[:job_url] %>" target="_blank">Apply Now</a></h1>

<% if !@user.jobs.include?(@current_job) %>
  <h1><a href="/myjobs/<%= @current_job.id %>/added">Add to My Jobs</a></h1>
<% end %>

<% if @in_my_jobs  %>

  <h1>Notes:</h1>
    <% @notes.compact.each do |note| %>
        <%= note.content %><a href="/user/notes/<%= note.id %>/edit">Edit/Delete</a><br>
    <% end %>
  <% if @note && @note.errors.any? %>
    <h3>*Error: A blank note cannot be created*</h3>
  <% end %>
  <h1>Add A Note:</h1>
    <form action="/user/notes/<%= @current_job.id %>" method="post">
      <textarea class="form-control" rows="4" name="note" id="note"></textarea>
      <input type="submit" value="Add Note">
    </form>

<% end %>

